.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 700ms ease-in;
}

.fade-exit  {
    opacity: 0;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.project-change-enter { opacity: 0;transform: translateX(-100%); }
.project-change-enter-active { transform: translateX(0); opacity: 1; transition: all 350ms ease-out; }
.project-change-exit { opacity: 0; transform: translateX(-100%); display: none; }
.project-change-exit-active { transform: translateX(-100%); transition: all 150ms ease-out; }

.page-change-enter { opacity: 0; }
.page-change-enter-active { opacity: 1; transition: opacity 250ms ease-in-out; }
.page-change-exit { opacity: 0; display: none; }
.page-change-exit-active { opacity: 0; transition: opacity 150ms ease-in-out; }

.show-more-enter { opacity: 0; }
.show-more-enter-active { opacity: 1; transition: opacity 250ms ease-in-out; }
.show-more-exit { opacity: 0; }
.show-more-exit-active { opacity: 0; transition: opacity 150ms ease-in-out; }